Repository defenseunicorns/leapfrogai-sdk, changes with the owners that CODEOWNERS names for each.
All owners: @defenseunicorns/leapfrogai, @gerred, @YrrepNoj, @gphorvath, @jeff-mccoy, @mikevanhemert, @austenbryan

add linting for python code
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
Owners: @gerred, @YrrepNoj, @defenseunicorns/leapfrogai

pin workflow tool versions
  .github/workflows/publish-pypi.yaml
  .github/workflows/test.yaml
Owners: @gerred, @YrrepNoj

add missing import
  src/leapfrogai/utils.py
Owners: @gerred, @YrrepNoj, @gphorvath

add ignore keyword for ruff linting for unused importing on __init__.py file
  src/leapfrogai/__init__.py
Owners: @gerred, @YrrepNoj, @gphorvath

add ruff setting to ignore generated code directories
  pyproject.toml
Owners: @gerred, @YrrepNoj

format code w/ ruff
  src/leapfrogai/cli.py
  src/leapfrogai/errors.py
Owners: @gerred, @YrrepNoj, @gphorvath

chore: update version of ruf in linting action
  .github/workflows/lint.yaml
Owners: @gerred, @YrrepNoj

CODEOWNERS:

# Documentation and fallbacks for missed things
* @defenseunicorns/leapfrogai
*.md @defenseunicorns/leapfrogai

# Core Code
/src/ @gerred @YrrepNoj @gphorvath
/proto/ @gerred @YrrepNoj @gphorvath
/tests/ @gerred @YrrepNoj @gphorvath
/main.py @gerred @YrrepNoj @gphorvath

# Pipeline and Project Files
/pyproject.toml @gerred @YrrepNoj
/.github/ @gerred @YrrepNoj
/.gitignore @gerred @YrrepNoj
/Makefile @gerred @YrrepNoj
/requirements.txt @gerred @YrrepNoj
/requirements-dev.txt @gerred @YrrepNoj

# Additional privileged files
/CODEOWNERS @jeff-mccoy @mikevanhemert @austenbryan @gerred
/LICENSE @jeff-mccoy @austenbryan @gerred
